## [실전] 타이타닉 생존율 예측 모형을 위한 데이터 전처리
- 케글에서 제공하는 타이타닉 전처리를 적용해 다양한 머신러닝 방법론에 적용

- 엑셀 파일 읽어오기
- boat, body, home.dest 열 삭제한 데이터 프레임을 만든 후 학습용과 테스트용 데이터 나누기
- 학습용 데이터 확인

In [2]:
import pandas as pd
titanic_url = 'https://github.com/sehakflower/data/blob/main/titanic_1309.xlsx?raw=true'
titanic = pd.read_excel(titanic_url, sheet_name = 'total')
train_1000 = titanic.iloc[:1000]
test_309 = titanic.iloc[1000:]
train_1000.drop(['boat', 'body', 'home.dest'], axis = 1, inplace = True)
test_309.drop(['boat', 'body', 'home.dest'], axis = 1, inplace = True)
train_df = train_1000
test_df = test_309
train_df

## inplace는 비추한다고 하셨는데, 그럼 어떻게 수정할 수 있는지?

C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\3779158800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_1000.drop(['boat', 'body', 'home.dest'], axis = 1, inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\3779158800.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_309.drop(['boat', 'body', 'home.dest'], axis = 1, inplace = True)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S
...,...,...,...,...,...,...,...,...,...,...,...
995,3,0,"Markoff, Mr. Marin",male,35.0000,0,0,349213,7.8958,NaN,C
996,3,0,"Markun, Mr. Johann",male,33.0000,0,0,349257,7.8958,NaN,S
997,3,1,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
998,3,0,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
999,3,1,"McCarthy, Miss. Catherine ""Katie""",female,NaN,0,0,383123,7.7500,NaN,Q

info 함수로 학습용 데이터 형태 파악

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1000 non-null   int64
 1   survived  1000 non-null   int64
 2   name      1000 non-null   object
 3   sex       1000 non-null   object
 4   age       861 non-null    float64
 5   sibsp     1000 non-null   int64
 6   parch     1000 non-null   int64
 7   ticket    1000 non-null   object
 8   fare      1000 non-null   float64
 9   cabin     283 non-null    object
 10  embarked  998 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 86.1+ KB

각 열에 대한 전처리
- 누락된 값이 있는데 데이터 분석을 위해 모두 숫자형으로 변경
- 범위가 매우 넓어서 대략 비슷하게 조절할 필요도 있음
- 결측치가 많은 cabin은 전체 열을 생략할 수도 있음

### name열
- 가장 먼저 확인해야함
- 이름으로 사람의 생존 여부 판단은 못하지만 성별을 나타내는 Mr, Miss, Mrs와 같은 중요한 정보가 담겨 있음.
- 하급용 데이터와 테스트용 데이터의 이름에서 이 정보만 추출

In [9]:
total = [train_df, test_df]

for dataset in total:
    dataset['title']= dataset['name'].str.extract('([A-Za-z]+)\.', expand = False)

train_df['title'].unique()

<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:4: SyntaxWarning: invalid escape sequence '\.'
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\2591766311.py:4: SyntaxWarning: invalid escape sequence '\.'
  dataset['title']= dataset['name'].str.extract('([A-Za-z]+)\.', expand = False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\2591766311.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title']= dataset['name'].str.extract('([A-Za-z]+)\.', expand = False)

array(['Miss', 'Master', 'Mr', 'Mrs', 'Col', 'Mme', 'Dr', 'Major', 'Capt',
       'Lady', 'Sir', 'Mlle', 'Dona', 'Jonkheer', 'Countess', 'Don',
       'Rev', 'Ms'], dtype=object)

각 호칭에 따라 5개 그룹으로 매핑
- 1: 남자
- 2: 아가씨
- 3: 부인
- 4: Master
- 5: 고위직

In [8]:
title_mapping={"Mr":1, "Miss":2, 'Ms':2, 'Mlle':2, "Mrs":3, 'Mme':3, 'Master':4, 'Dr':5, 'Rev':5, 'Col': 5, 'Major':5, 'Lady':5, 'Capt':5, 'Sir':5, 'Don':5,
'Jonkheer':5, 'Countess':5}

for dataset in total:
    dataset['title']=dataset['title'].map(title_mapping)
    #map : 일괄적으로 바꾸거나 변환. 한 열의 값을 다른 값으로 매핑(판다스 사용)

train_df['title'].unique()
#unique : 중복 값 제거(판다스/넘파이 사용)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1066099219.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title']=dataset['title'].map(title_mapping)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1066099219.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title']=dataset['title'].map(title_mapping)

array([ 2.,  4.,  1.,  3.,  5., nan])

각 호칭에 따라 5개 그룹 매핑
- 1: 남자
- 2: 아가씨
- 3: 부인
- 4: Master
- 5: 고위직

In [11]:
total = [train_df, test_df]
titles = {'Mr':1, "Miss":2, 'Ms':3, 'Master':4, 'Special':5}

for dataset in total:
    dataset['title'] = dataset.name.str.extract('([A-Za-z]+)\.', expand = False)
    #dataset.name: name 컬럼 선택
    #.str.extract(...): 문자열에서 정규표현식을 이용해 패턴에 맞는 부분만 추출
    #'([A-Za-z]+)\.': 정규표현식 (regex):
    dataset['title'] = dataset['title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Special')
    dataset['title'] = dataset['title'].replace('Mlle', 'Miss')
    dataset['title'] = dataset['title'].replace('Ms', 'Miss')
    dataset['title'] = dataset['title'].replace('Mme', 'Mrs')
    dataset['title'] = dataset['title'].map(titles)
    dataset['title'] = dataset['title'].fillna(0)
    #판다스에서 결측값(NaN)을 0으로 채워주는 함수. 비어있는 셀에 기본값 0을 넣어줌

train_df = train_df.drop(['name'], axis = 1)
test_df = test_df.drop(['name'], axis = 1)
test_df

<>:5: SyntaxWarning: invalid escape sequence '\.'
<>:5: SyntaxWarning: invalid escape sequence '\.'
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:5: SyntaxWarning: invalid escape sequence '\.'
  dataset['title'] = dataset.name.str.extract('([A-Za-z]+)\.', expand = False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset.name.str.extract('([A-Za-z]+)\.', expand = False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Special')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace('Mlle', 'Miss')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace('Ms', 'Miss')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace('Mme', 'Mrs')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].map(titles)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].fillna(0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset.name.str.extract('([A-Za-z]+)\.', expand = False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Special')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace('Mlle', 'Miss')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace('Ms', 'Miss')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].replace('Mme', 'Mrs')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].map(titles)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12660\1142524803.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['title'] = dataset['title'].fillna(0)

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,title
1000,3,1,male,NaN,0,0,367228,7.7500,NaN,Q,1.0
1001,3,1,female,NaN,2,0,367226,23.2500,NaN,Q,2.0
1002,3,1,female,NaN,2,0,367226,23.2500,NaN,Q,2.0
1003,3,1,male,NaN,2,0,367226,23.2500,NaN,Q,1.0
1004,3,1,female,NaN,0,0,330932,7.7875,NaN,Q,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,female,14.5,1,0,2665,14.4542,NaN,C,2.0
1305,3,0,female,NaN,1,0,2665,14.4542,NaN,C,2.0
1306,3,0,male,26.5,0,0,2656,7.2250,NaN,C,1.0
1307,3,0,male,27.0,0,0,2670,7.2250,NaN,C,1.0
1308,3,0,male,29.0,0,0,315082,7.8750,NaN,S,1.0

### age열
- 중간중간 값이 누락되어 있음
- 가장 기본적인 결측치 값 채우는 방법은 나머지 모든 사람의 평균 나이를 구해서 채우는 것
- title 열의 그룹별로 평균 나이를 채우기
- 결측치에 각 계급의 중앙값 채우기

In [ ]:
train_df['age'].fillna(train_df.groupby('title')['age'].transform('median').inplace = True)
test_df['age'].fillna(train_df.groupby('title')['age'].transform('median').