>**기출문제 제4회**
>>**01 작업형 제1유형**

## 옵션 설정

In [23]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 다음 데이터에서 결측치가 존재하는 행을 모두 삭제하시오. 데이터의 상위 70%에 해당하는 데이터를 추출하고, PTRATIO 칼럼의 1분위수를 구하시오. 
- 소수점 둘째 자리까지 반올림

In [24]:
data1 = pd.read_csv('4_1_1.csv')
data1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,NaN,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,NaN,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,NaN,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,NaN,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,NaN,396.90,5.33,36.2

In [25]:
# 결측치 확인 
data1.isna().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM          0
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO    11
B           0
LSTAT       0
PRICE       0
dtype: int64

In [27]:
# 결측치가 있는 행 제거
data1 = data1.dropna()

# 상위 70% 데이터 추출 (하위 30% 제거)
sud_data = data1.loc[:int(len(data1) * 0.7), :]

# PTRATIO 칼럼의 1분위수 계산
q1 = sud_data.loc[:, 'PTRATIO'].quantile(0.25)
print(f'PTRATIO 1분위수: {round(q1,2)}')

PTRATIO 1분위수: 16.32

## 문제 2.
- 건축연도(yearBuilt)가 1991~2000년이면서 평균 학교등급(avgSchoolRating)이 평균 이하인 주택id(uid)와 건축연도 2001~2010년에 평균 학교등급이 평균 이상인 주택id의 수를 구하시오.

In [28]:
data2 = pd.read_csv('4_1_2.csv')
data2.head()

,uid,city,homeType,latitude,longitude,garageSpaces,hasSpa,yearBuilt,numOfPatioAndPorchFeatures,lotSizeSqFt,avgSchoolRating,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,priceRange
0,6761,austin,Single Family,NaN,-97.816811,2,False,1981,0.0,9757.0,4.000000,13,3.0,3,350000-450000
1,15045,austin,Single Family,NaN,-97.752731,2,False,1951,0.0,10846.0,7.000000,16,3.0,4,650000+
2,11109,austin,Single Family,NaN,-97.699669,0,False,1954,0.0,9016.0,5.000000,15,2.0,3,350000-450000
3,2064,austin,Single Family,NaN,-97.748291,2,False,2008,0.0,5662.0,5.333333,15,2.0,3,0-250000
4,14215,austin,Townhouse,NaN,-97.753548,2,False,1984,0.0,3049.0,7.000000,16,3.0,2,350000-450000

In [29]:
# 평균 학교등급 계산
avg_rating = data2.loc[:, 'avgSchoolRating'].mean()

# 건축연도가 1991~2000년도인 주택
house_1991_2000 = data2.loc[(data2.loc[:,'yearBuilt'] >= 1991) & (data2.loc[:,'yearBuilt'] <= 2000), :]

# 건축연도가 2001~2010년도인 주택
house_2001_2010 = data2.loc[(data2.loc[:,'yearBuilt'] >= 2001) & (data2.loc[:,'yearBuilt'] <= 2010), :]

# 건축연도 기준으로 필터링된 활용하면서 학교 등급이 평균 이상, 평균 이하인 주택 id 구하기
uid1 = house_1991_2000.loc[house_1991_2000.loc[:,'avgSchoolRating'] <= avg_rating, 'uid']
uid2 = house_2001_2010.loc[house_2001_2010.loc[:,'avgSchoolRating'] > avg_rating, 'uid']

# 두 주택 id 수 구하기
count = len(uid1) + len(uid2)
print(count)

76

## 문제 3. 
- 위 2번 데이터의 각 컬럼 중 결측치가 가장 많은 컬럼을 출력하시오.

In [30]:
# 각 컬럼별 결측치 개수 확인
null_counts = data2.isnull().sum()

# 결측치가 가장 많은 컬럼 찾기
max_null_col = null_counts.idxmax()
print(f'결측치가 가장 많은 컬럼: {max_null_col}')

결측치가 가장 많은 컬럼: numOfPatioAndPorchFeatures