# 02장

## 02-1 숫자형
- 숫자형이란 숫자로 이루어진 자료형
- 정수 : 1, 2, 3...
- 실수 : 12.34...
- 8진수, 16진수 ...

### 숫자형은 어떻게 만들고 사용할까?

In [150]:
# 정수형
>>> a = 123
>>> a = -178
>>> a = 0

In [151]:
#실수형
>>> a = 1.2
>>> a = -3.45

In [152]:
#8진수
#8진수를 만들기 위해서는 숫자 0o 또는 0O으로 시작
a = 0o177
print(a)

127

In [153]:
#16진수_0x로 시작
>>> a = 0x8ff
>>> b = 0xABC
print(b)

2748

### 숫자형을 활용하기 위한 연산자

In [154]:
# 사칙연산
a = 3
b = 4

a + b
a - b
a * b
a / b

0.75

In [155]:
# x의 y 제곱을 나타내는 ** 연산자
a = 3
b = 4
a**b

81

In [156]:
# 나눗셈 후 나머지 리턴하는 % 연산자
>>> 7 % 3

1

In [157]:
# 나눗셈 후 몫을 리턴하는 // 연산자
>>> 7 / 4

1.75

## 02-2 문자열 자료형
- 문자열이란 문자, 단어 등으로 구성된 문자들의 집합
- ex) "life is too, short" , "a" , "123"

### 문자열은 어떻게 만들고 사용할까?
- 큰 따옴표로 양쪽 둘러싸기 ""
- 작은 따옴표로 양쪽 둘러싸기 ''
- 큰 따옴표 3개 연속으로 써서 양쪽 둘러싸기 """ """
- 작은 따옴표 3개 연속으로 써서 양쪽 둘러싸기 ''' '''

### 문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때

In [158]:
# 문자열에 작은 따옴표 포함하기
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [159]:
# 문자열에 큰 따옴표 포함하기
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [160]:
# 역슬래시를 이용해서 작은 따옴표와 큰 따옴표를 문자열에 포함하기
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
food
say

'"Python is very easy." he says.'

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [161]:
# 줄을 바꾸기 위한 이스케이프 코드 \n 삽입
multiline = "Life is too shrot\nYou need python"
print(multiline)
#\n은 띄어쓰기 x

Life is too shrot
You need python

In [162]:
# 연속된 작은 따옴표 3개 도는 큰 따옴표 3개 사용
multiline = """life is too short
you need python"""
print(multiline)

life is too short
you need python

### 문자열 연산하기
- 파이썬은 문자열을 더하거나 곱할 수 있음

In [163]:
# 문자열 더해서 만들기
head = "python"
tail = "is fun!"

head + tail

'pythonis fun!'

In [164]:
# 문자열 곱하기
a = "python"
a * 2

'pythonpython'

In [165]:
# 문자열 곱하기를 응용하기
print("-" * 50)
print("my program")
print("-" *50)

--------------------------------------------------
my program
--------------------------------------------------

In [166]:
# 문자열 길이 구하기
a = "life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱
- 파이썬은 0부터 숫자를 센다
- '-'는 뒤에서 부터 숫자를 센다
- 슬라이싱은 [시작번호: 끝번호]를 지정할 때 끝 번호에 지정되는 문자는 포함하지 않음

In [167]:
# 문자열 인덱싱
a = "life is too short, you need python"
a[3]

'e'

In [168]:
# 문자열 인덱싱 활용하기
a = "life is too short, you need python"
print(a[0])
print(a[12])
print(a[-1])

l
s
n

In [169]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)
print(a[0:4])

Life
Life

In [170]:
#슬라이싱으로 문자열 나누기
a = '20230331rainy'
date = a[:8]
print(date)
weather = a[8:]
print(weather)

20230331
rainy

In [171]:
# 문자열 바꾸기
a = "Pithon"
a[1]
#a[1] = 'y'는 가능하지 않음. 문자열은 변경 불가능한 자료형
a[:1] + 'y' + a[2:]

'Python'

### 문자열 포매팅
- 문자열 안의 특정한 값을 바꿔야 할 때 사용
- 문자열 안에 어떤 값을 삽입

### 문자열 포매팅 따라하기
- 문자열 포맷 코드
  + 문자열 안에 숫자를 넣고 싶을 때: %d + 숫자
    - 숫자 값을 나타내는 변수 대입해서도 가능
  + 문자열 안에 문자를 넣고 싶을 때: %s + "문자"

In [172]:
# 숫자 바로 대입
" I eat %d apples." %3

' I eat 3 apples.'

In [173]:
# 문자열 바로 대입
"I eat %s apples." %"five"

'I eat five apples.'

In [174]:
# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [175]:
# 2개 이상의 값 넣기
number = 10
day = 'three'
"I ate %d apples. so I was sic for %s days." % (number, day)

'I ate 10 apples. so I was sic for three days.'

- 문자열 포맷 코드
  + %s: 문자열(string)
  + %c: 문자 1개(character)
  + %d: 정수(integer)
  + %f: 부동소수(floating_point)
  + %o: 8진수
  + %x: 16진수
  + %%: Literal%(문자 % 자체)

In [176]:
# 포매티 연산자 %d와 %를 같이 쓸 떄는 %%를 사용
"Error is %d%%." %98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기

In [177]:
# 정렬과 공백
"%10s" % "hi"

# 전체 길이가 10개인 문자열 공간에 대입되는 값을 오른쪽으로 정렬하고 나머지는 공백으로 둠

'        hi'

In [178]:
"%-10sjane." % "hi"
# hi가 왼쪽 정렬되고 나머지는 공백으로 채움

'hi        jane.'

In [179]:
# 소수점표현하기
"%0.4f" % 3.42134234

# 소수점 네번째까지 나타내고 싶을 때 사용
# .은 소수점 포인트, 4는 소수점 뒤에 나올 숫자의 개수
# 소수점 앞의 문자는 문자열 전체의 길이 의미(0은 길이에 상관하지 않는다는 의미)

'3.4213'

In [180]:
"%10.4f" % 3.42134234

'    3.4213'

### format 함수를 사용한 포매팅

In [181]:
# 숫자 바로 대입하기
"I eat {0} apples.".format(3)

#{0} 부분이 3으로 바뀜

'I eat 3 apples.'

In [182]:
#문자열 바로 대입하기
"I eat {0} apples.".format("five")

'I eat five apples.'

In [183]:
# 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

In [184]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [185]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = "three")

'I ate 10 apples. so I was sick for three days.'

In [186]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [187]:
# 왼쪽 정렬
"{0:<10}".format("hi")

#:<숫자: 문자열을 왼쪽으로 정렬하고, 문자열의 총 자릿수를 10으로 맞출 수 있음

'hi        '

In [188]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [189]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [190]:
# 공백 채우기
"{0:=^10}".format("hi")

# =로 공백을 채우고 가운데 정렬

'====hi===='

In [191]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [192]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4}".format(y)

'3.421'

In [193]:
y = 3.42134234
"{0:10.4}".format(y)

'     3.421'

In [194]:
# {또는} 문자 표현하기
"{{and}}".format()

'{and}'

### f문자열 포매팅
- 문자열 앞에 f 접두사를 붙이면 f문자열 포매팅 기능 사용 가능

In [195]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [196]:
age = 30
f'나는 내년이면 {age +1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [197]:
d = {'name': '홍길동', 'age': 30}
f'나의 이름은 {d['name']}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [198]:
"{0:!^12}".format("python")

'!!!python!!!'

### 문자열 관련 함수들
- 문자열 내장 함수: 문자열 자료형은 자체적으로 함수를 가지고 있음
- 문자열 변수 뒤에 '.'를 붙인 후 함수 이름을 붙여서 사용

In [199]:
# 문자 개수 세기 - count
a = 'hobby'
a.count('b')

2

In [200]:
# 위치 알려주기1 - find
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

#찾는 문자나 문자열이 존재하지 않으면 -1 반환

14
-1

In [201]:
# 위치 알려주기2 - index
a = "Life is too short"
print(a.index('t'))
#print(a.index('k'))
# k가 없으므로 오류 발생

8

In [202]:
# 문자열 삽입 - join
",".join('abcd')

# 문자열 사이사이 , 입력
# 리스트, 튜플에도 사용 가능

'a,b,c,d'

In [203]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [204]:
# 소문자를 대문자로 바꾸기 - upper
a = "hi"
a.upper()

'HI'

In [205]:
# 대문자를 소문자로 바꾸기 -lower
a = "HI"
a.lower()

'hi'

In [206]:
# 왼쪽 공백 지우기 - lstrip
a = " hi "
a.lstrip()

'hi '

In [207]:
# 오른쪽 공백 지우기 - rstrip
a = " hi "
a.rstrip()

' hi'

In [208]:
# 양쪽 공백 지우기 - strip
a = " hi "
a.strip()

'hi'

In [209]:
# 문자열 바꾸기 - replace
a = "Life is too short"
a.replace("Life", "Your leg")

#replace(바뀔_문자열, 바꿀_문자열) ==> 문자열 안의 특정한 값을 치환

'Your leg is too short'

In [210]:
# 문자열 나누기 - split
a = "Life is too short"
print(a.split())

b = "a:b:c:d"
print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [211]:
# 착각하기 쉬운 문자열 함수
a = 'hi'
# a.upper()는 자체의 값을 변경하는 것이 아닌 대문자로 바꾼 값을 return하는 것임
# 바꾸고 싶으면 대입문 사용
a = a.upper()
a

'HI'

## 02-3 리스트 자료형
- 숫자의 모음을 숫자나 문자열로 표현하기는 어려움
- 파이썬에서는 이러한 불편함을 해소하기 위해 자료형이 존재

### 리스트는 어떻게 만들고 사용할까?
- 리스트명 = [요소1, 요소2, 요소3,...]
- 가능한 리스트
  + 비어있는 리스트[ ]
  + 숫자 / 문자열을 요소값으로 가진 리스트
  + 숫자 + 문자열을 요소값으로 가진 리스트
  + 리스트 자체를 요소값으로 가진 리스트[ [ ] ]

In [212]:
odd = [1,3,5,7,9]

In [213]:
a = []
b =[1, 2, 3]
c= ['life', 'is', 'too', 'short']
d = [1, 2, 'life', 'is']
e = [1, 2, ['life', 'is']]

### 리스트의 인덱싱과 슬라이싱

In [214]:
# 리스트의 인덱싱
a = [1, 2, 3]
print(a)
print(a[0])
print(a[1] + a[2])
print(a[-1]) #리스트의 마지막 요솟값

[1, 2, 3]
1
5
3

In [215]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])

print(a[-1])

print(a[3])

print(a[-1][0])

1
['a', 'b', 'c']
['a', 'b', 'c']
a

In [216]:
# 삼중 리스트에서 인덱싱 하기
a = [1, 2, ['a', 'b', ['life', 'is']]]
a[2][2][0]

'life'

In [217]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [218]:
a = "12345"
a[0:2]

'12'

In [219]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

### 리스트 연산하기
- 리스트도 +를 사용해 더하고 *를 사용해 반복할 수 있음

In [220]:
# 리스트 더하기(+)
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [221]:
# 리스트 반복하기(*)
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [222]:
# 리스트 길이 구하기
a = [1, 2, 3]
len(a)

3

In [223]:
# 초보자가 범하기 쉬운 리스트 연산 오류
a = [1, 2, 3]
str(a[2]) + "hi"

#a[2] + "hi" 이 경우는 문자열과 정수이기 때문에 더해지지 않음
#str은 정수나 실수를 문자열로 바꿔주는 파이썬 내장 함수

'3hi'

### 리스트의 수정과 삭제

In [224]:
# 리스트의 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [225]:
# del 함수를 사용해 리스트 요소 삭제하기
a = [1, 2, 3]
del a[1]
print(a)

#del 객체

# 슬라이싱 기법 사용하여 리스트 요소 여러개 한꺼번에 삭제
a = [1, 2, 3, 4, 5]
del a [2:]
print(a)

[1, 3]
[1, 2]

### 리스트 관련 함수
- 문자열과 마찬가지로 리스트 변수 이름 뒤에 '.'를 붙여 여러가지 리스트 관련 함수 사용 가능

In [226]:
# 리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append(4)
print(a)

a.append([5,6])
print(a)

#.append(x): 리스트의 맨 마지막에 x 추가

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [227]:
# 리스트 정렬 - sort
a = [1, 4, 2, 3]
a.sort()
a

[1, 2, 3, 4]

In [228]:
a = ['a', 'c', 'd', 'b']
a.sort()
a

['a', 'b', 'c', 'd']

In [229]:
# 리스트 뒤집기 - reverse
a = ['a', 'c', 'd', 'b']
a.reverse()
a

#리스트의 현재 순서를 그대로 거꾸로 뒤집음

['b', 'd', 'c', 'a']

In [230]:
# 인덱스 반환
a = [1, 2, 3]
print(a.index(3))
# = a[2]

print(a.index(1))
# = a[0]

#index(x) 함수는 리스트에 x값이 몇 번째 위치에 있는지 찾아 인덱스 값 리턴

2
0

In [231]:
# 리스트에 요소 삽입 - insert
a = [1, 2, 3]
a.insert(0,4) # 0위치에 4 삽입
print(a)

a.insert(3,5) # 3 위치에 5 삽입
print(a)

[4, 1, 2, 3]
[4, 1, 2, 5, 3]

In [232]:
# 리스트 요소 제거 - remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a.remove(3)
a

# remove(x): 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
# 두 번 실행하면 두 번째 값도 삭제 됨

[1, 2, 1, 2]

In [233]:
# 리스트 요소 끄집어 내기 - pop
a = [1, 2, 3]
print(a.pop(1))
a

#pop(X)는 리스트의 x번째 요소를 리턴하고, 그 요소는 삭제

2

[1, 3]

In [234]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a = [1, 2, 3, 1]
a.count(1)

2

In [235]:
# 리스트 확장 -extend
a = [1, 2, 3]
a.extend([4,5])
print(a)

b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6, 7]

## 02-4 튜플 자료형
- 리스트는 [ ], 튜플은 ( )
- 리스트는 요솟값의 생성, 삭제, 수정이 가능하지만 튜플은 요솟값을 바꿀 수 없다.

### 튜플은 어떻게 만들까?
- 튜플과 리스트는 비슷한 역할을 하지만, 프로그래밍을 할 때 튜플과 리스트는 구별해서 사용하는 것이 유리
- 프로그램이 실행되는 동안 요솟값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고 싶지 않다면 튜플
- 수시로 값을 변화시켜야한다면 리스트

In [236]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

# t2 -> 요소가 하나일 때는 반드시 요소 뒤에 쉼표(,) 붙여야 함
# t4 -> 소괄호 생략 가능

### 튜플의 요솟값을 지우거나 변경하려고 하면 어떻게 될까?

In [237]:
# 튜플 요소값을 삭제하려 할 때
t1 = (1, 2, 'a', 'b')
#del t1[0] ==> typeerror

In [238]:
# 튜플 요솟값을 변경하려 할 때
t1 = (1, 2, 'a', 'b')
# t1[0] = 'c' ==> typeerror

### 튜플 다루기

In [239]:
# 인덱싱 하기
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [240]:
# 슬라이싱하기
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [241]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [242]:
# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [243]:
# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)

4