>**기출문제 제3회**
>>**01 작업형 제1유형**

## 옵션 설정

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

In [4]:
import pandas as pd 

data = pd.read_csv('3_1.csv')
data.head()

,city,homeType,latitude,longitude,garageSpaces,hasSpa,yearBuilt,numOfPatioAndPorchFeatures,lotSizeSqFt,avgSchoolRating,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,priceRange
0,austin,Single Family,30.197647,-97.816811,2,False,1981,0,9757.0,4.000000,13,NaN,3,350000-450000
1,austin,Single Family,30.329187,-97.752731,2,False,1951,0,10846.0,7.000000,16,NaN,4,650000+
2,austin,Single Family,30.313305,-97.699669,0,False,1954,0,9016.0,5.000000,15,NaN,3,350000-450000
3,austin,Single Family,30.156321,-97.748291,2,False,2008,0,5662.0,5.333333,15,NaN,3,0-250000
4,austin,Townhouse,30.366995,-97.753548,2,False,1984,0,3049.0,7.000000,16,NaN,2,350000-450000

## 문제 1. 
- 다음 데이터에서 lotSizeSqFt이 큰 top 10을 구하고, top 10 값 중 가장 작은 값으로 해당 값을 대치하시오. 
- 또한, 건축 연도(yearBuilt)가 2000년도 이상인 IoTSizeSqFt의 평균을 구하시오.
- 소수점 첫째 자리에서 반올림, 대치된 IoTSizeSqFt 기준

In [5]:
data1 = data.copy()
data1.head(1)

,city,homeType,latitude,longitude,garageSpaces,hasSpa,yearBuilt,numOfPatioAndPorchFeatures,lotSizeSqFt,avgSchoolRating,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,priceRange
0,austin,Single Family,30.197647,-97.816811,2,False,1981,0,9757.0,4.0,13,NaN,3,350000-450000

In [6]:
# lotSizeSqFt top 10 값 구하기
top_10_idx = data1['lotSizeSqFt'].nlargest(10).index

# top 10 중 가장 작은 값 찾기
min_top_10 = data1.loc[top_10_idx, 'lotSizeSqFt'].min()

# lotSizeSqFt 값을 top 10 중 가장 작은 값으로 대치
data1.loc[top_10_idx, 'lotSizeSqFt'] = min_top_10

# 2000년도 이상 건축물의 lotSizeSqFt 평균 계산
mean_lot_size = data1.loc[data['yearBuilt'] >= 2000, 'lotSizeSqFt'].mean()

# 소수점 첫째자리 반올림
print(round(mean_lot_size))

12955

## 문제 2. 
- 컬럼별 결측치 존재 여부를 확인하고, 결측치가 존재하는 경우 해당 컬럼의 중앙값으로 결측치를 대치하시오. 
- 결측치 대신 전과 후 표준편차 차이의 절댓값을 구하시오. 
- 소수점 둘째 자리까지 반올림

In [7]:
data2 = data.copy()

In [8]:
# 결측치 존재 여부 확인
print("결측치 개수:")
print(data2.isnull().sum())

결측치 개수:
city                           0
homeType                       0
latitude                       0
longitude                      0
garageSpaces                   0
hasSpa                         0
yearBuilt                      0
numOfPatioAndPorchFeatures     0
lotSizeSqFt                    0
avgSchoolRating                0
MedianStudentsPerTeacher       0
numOfBathrooms                11
numOfBedrooms                  0
priceRange                     0
dtype: int64

In [9]:
# 결측치가 있는 컬럼 찾기
cols_with_null = data2.columns[data2.isnull().any()].tolist()

# 결측치 대치 전 표준편차 저장
std_before = data2.loc[:, cols_with_null].std()
std_before

numOfBathrooms    0.989337
dtype: float64

In [10]:
# 결측치를 중앙값으로 대치
for col in cols_with_null:
    median_val = data2.loc[:, col].median()
    data2.loc[data2[col].isnull(), col] = median_val

# 결측치 대치 후 표준편차 저장  
std_after = data2.loc[:, cols_with_null].std()

# 표준편차 차이의 절댓값 계산
std_diff = abs(std_before - std_after)
std_diff

numOfBathrooms    0.009786
dtype: float64

In [11]:
print("\n표준편차 차이의 절댓값:")
print(np.round(float(std_diff.iloc[0]), 2))

표준편차 차이의 절댓값:
0.01

## 문제 3. 
- 평균으로부터 1.5x 표준편차 범위 밖의 값을 이상치로 판단
- MedianStudentsPerTeacher의 이상치를 구하고, 이상치의 개수를 구하시오.

In [12]:
data3 = data.copy()

# MedianStudentsPerTeacher 컬럼의 평균과 표준편차 계산
mean = data3.loc[:, 'MedianStudentsPerTeacher'].mean()
std = data3.loc[:, 'MedianStudentsPerTeacher'].std()

# 이상치 범위 계산 (평균 ± 1.5 * 표준편차)
lower_bound = mean - 1.5 * std
upper_bound = mean + 1.5 * std

# 이상치 찾기
outliers = data3.loc[(data3.loc[:, 'MedianStudentsPerTeacher'] < lower_bound) |
                     (data3.loc[:, 'MedianStudentsPerTeacher'] > upper_bound)]

# 이상치 개수 출력
print("이상치 개수:", len(outliers))

이상치 개수: 65